@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Biblioteca.Models.Libro;

<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Editar Libro</h1>
                <br />
                <a asp-controller="Libro" asp-action="ListaLibros" class="btn-close"></a>
            </div>

            <div class="modal-body p-5 pt-0">
                <form asp-controller="Libro" asp-action="Editar" method="post" class="">
                    <input asp-for="IdLibro" type="hidden">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" asp-for="Titulo" id="floatingInput" placeholder="Titulo">
                        <label for="floatingInput">Titulo</label>
                        <span asp-validation-for="Titulo" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" asp-for="Autor" placeholder="Autor">
                        <label for="floatingInput">Autor</label>
                        <span asp-validation-for="Autor" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" asp-for="Genero" placeholder="Genero">
                        <label for="floatingInput">Genero</label>
                        <span asp-validation-for="Genero" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control rounded-3" asp-for="Fechapublicacion" placeholder="Fecha de publicacion">
                        <label for="floatingInput">Fecha de publicacion</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea type="text" class="form-control rounded-3" asp-for="Sinopsis" placeholder="Sinopsis"></textarea>
                        <label for="floatingInput">Sinopsis</label>
                        <span asp-validation-for="Sinopsis" class="text-danger"></span>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>